<div ng-include="'app/views/menuAdmin.html'"></div>
<div class="container" ng-init="init()">
	<div class="row">
		<div class="col-md-6">
			<h1><small>Partida: </small>{{partida.nome_partida}}</h1>
			<h1><small>ID da Partida: </small>{{partida.id_partida}}</h1>
		</div>
		<div class="col-md-6 text-right">
			<button class="btn btn-success"><i class="fa fa-play"></i> Iniciar Partida</button>
			<h2>{{tempo}}</h2>
		</div>
	</div>
	<hr>
	<div class="row">
		<div class="col-md-12">
			
		</div>
	</div>
</div>