<div class="container">
	<div class="login_box">
		<div class="panel panel-default">
			<div class="panel-heading">
				<strong>Iniciar</strong>
			</div>
			<div class="panel-body">
				<form ng-submit="entrar()">
					<div class="form-group">
						<label>Nome de usuário:</label>
						<input class="form-control" type="text" ng-model="login.email" required="">
					</div>
					<div class="form-group">
						<label>ID da partida:</label>
						<input class="form-control" type="text" ng-model="login.senha" required="">
					</div>
					<hr>
					<button class="btn btn-success btn-block" ng-disabled="!login.email || !login.senha"><i class="fa fa-sign-in"></i> Entrar</button>
				</form>
				<div class="alert alert-danger" ng-show="error">
					@{{error}}
				</div>
			</div>
		</div>
	</div>
</div>

<style type="text/css">
	.login_box{
		width: 360px;
		margin: 100px auto;
		padding: 10px;
	}
</style>