<div ng-include="'app/views/menuAdmin.html'"></div>
<div class="container" ng-init="init()">
	<div class="row">
		<div class="col-md-12">
			<h1>Cadastro de Partida</h1>
		</div>
	</div>
	<hr>
	<div class="row">
		<div class="col-md-6">
			<button ng-click="partida = {}" class="btn btn-info" data-toggle="modal" data-target="#modalCadastro"><i class="fa fa-plus"></i> Nova partida</button>
		</div>
		<div class="col-md-6">
			<input class="form-control" ng-model="pesquisa"></input>
		</div>
	</div>
	<hr>
	<div class="row">
		<div class="col-md-12">
			<table class="table">
				<thead>
					<tr>
						<th>#</th>
						<th>Nome</th>
						<th>Status</th>
					</tr>
				</thead>
				<tbody>
					<tr dir-paginate="partida in partidas | filter: pesquisa | itemsPerPage: 10">
						<td>{{partida.id_partida}}</td>
						<td>{{partida.nome_partida}}</td>
						<td ng-switch="partida.status">
							<span class="label label-info" ng-switch-when="1">Novo</span>
							<span class="label label-primary" ng-switch-when="2">Em execução</span>
							<span class="label label-success" ng-switch-when="3">Finalizada</span>
							<span class="label label-danger" ng-switch-when="4">Cancelado</span>
						</td>
						<td>
							<div class="btn-group">
								<button type="button" class="btn btn-info dropdown-toggle btn-xs" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									Opções <span class="caret"></span>
								</button>
								<ul class="dropdown-menu">
									<li><a href="" ng-click="editar(partida)"><i class="fa fa-edit"></i> Editar</a></li>
									<li role="separator" class="divider"></li>
									<li><a href="" ng-click="excluir(partida)"><i class="fa fa-trash"></i> Excluir</a></li>
									<li role="separator" class="divider"></li>
									<li><a href="" ng-click="questoes(partida)"><i class="fa fa-bars"></i> Questões</a></li>
								</ul>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12 text-center">
			<dir-pagination-controls>
			</dir-pagination-controls>
		</div>
	</div>
</div>

<div class="modal fade" tabindex="-1" role="dialog" id="modalCadastro">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">Partida</h4>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-md-6">
						<label>Nome da partida</label>
						<input class="form-control" ng-model="partida.nome_partida"></input>
					</div>
					<div class="col-md-3">
						<label>Status</label>
						<select class="form-control" ng-model="partida.status" ng-options="i.id as i.nome for i in status"></select>
					</div>
					<div class="col-md-3">
						<label>Duração:</label>
						<input class="form-control" placeholder="00:00:00" ng-model="partida.duracao"></input>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-dager" ng-click="partida = {}" data-dismiss="modal"><i class="fa fa-remove"></i> Cancelar</button>
				<button type="button" class="btn btn-success" ng-click="salvar()" ng-disabled="!partida.nome_partida "><i class="fa fa-check"></i> Salvar</button>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" tabindex="-1" role="dialog" id="modalQuestao">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">Questões da partida</h4>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-md-8">
						<select class="form-control" ng-model="questao.id_questao" ng-options="i.id_questao as (i.nome_questao+' - '+i.pontuacao+'pts') for i in questoesl"></select>
					</div>
					<div class="col-md-4">
						<button class="btn btn-success" ng-click="salvarQuestao()"><i class="fa fa-check">Inserir</i></button>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<table class="table table-striped">
							<thead>
								<tr>
									<th>#</th>
									<th>Questão</th>
									<th>Pontuação máxima</th>
									<th></th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="q in questoesPartida">
									<td>{{q.id_partida_questao}}</td>
									<td>{{q.questao.nome_questao}}</td>
									<td>{{q.questao.pontuacao}}</td>
									<td>
										<button class="btn btn-danger btn-xs" ng-click="excluirQuestao(q)"><i class="fa fa-trash"></i></button>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->